<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>1037285949293-91ue2dmvd53a41fgmk8n281i3254t0hm.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.1037285949293-91ue2dmvd53a41fgmk8n281i3254t0hm</string>
    <key>API_KEY</key>
    <string>AIzaSyD8dRw7niVhVPrdaYsX3CZuUoIz-IyJsKc</string>
    <key>GCM_SENDER_ID</key>
    <string>1037285949293</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.powechi.Demo.development</string>
    <key>PROJECT_ID</key>
    <string>fir-bea07</string>
    <key>STORAGE_BUCKET</key>
    <string>fir-bea07.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:1037285949293:ios:96866e1a1b3ab12a91e464</string>
</dict>
</plist>
